# Prevents directory listing
Options -Indexes

# Rewrite requests to the index.php file...
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?request=$1 [L,NS]